<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
      <add key="UtilisateurJSON" value="C:\Users\fatie\Documents\ETNA 2\GPE-ETNA-devFatierS\IHM\utilisateurs.json" />
      <add key="ProjetJSON" value="C:\Users\fatie\Documents\ETNA 2\GPE-ETNA-devFatierS\IHM\projets.json" />
     <add key="RoleJSON" value="C:\Users\fatie\Documents\ETNA 2\GPE-ETNA-devFatierS\IHM\roles.json" />
      <add key="FolderIMG" value ="C:\\Users\\fatie\\Documents\\ETNA 2\\GPE-ETNA-devFatierS\\IHM\\IMG\\"/>
      <add key="strAppKey" value = "wvay6mx0i0a2gbo" />
      <add key="strAppSecret" value = "1qgfe6zpe62mqp3"/>
  </appSettings>
</configuration>